@using DotNetNuke.Web.MvcPipeline.Models
@using DotNetNuke.Web.MvcPipeline.Skins
@using DotNetNuke.Web.DDRMenu

@model PageModel


<div class="footer">
    <!-- Begin semantic footer html tag -->
    <div class="segment footerthird">
        <div class="w3-content">
            <div class="w3-row">
                @Html.Pane(id: "footerthirdfirst", cssClass: "w3-col l4 m4 s12 first")
                @Html.Pane(id: "footerthirdsecond", cssClass: "w3-col l4 m4 s12 second")
                @Html.Pane(id: "footerthirdthird", cssClass: "w3-col l4 m4 s12 third")
            </div>
        </div>
    </div>
    <div class="segment footerfull fullwidth">
        <div class="w3-content">
            <div class="w3-row">
                @Html.Pane(id: "footerfull", cssClass: "")
            </div>
        </div>
    </div>
</div>
<!-- End semantic footer html tag -->
<div class="segment copyright">
    <div class="w3-content">
        <div class="w3-row">
            <div class="w3-container w3-padding-24">
                @Html.Copyright()&nbsp;&nbsp;|&nbsp;&nbsp;@Html.Login()
            </div>
        </div>
    </div>
</div>
